@{
    ViewData["Title"] = "Index";
}

<h2>Stock Picking Application</h2>
<hr />

<div>
    <p>
        <br />
        <h3>This application generates top five stock buy picks and top five stock sell picks.</h3>
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Symbols">Load Symbols</a> tab fetches symbols data from the
        <a href="https://iextrading.com/developer/docs/#collections">IEX Collections API </a> and displays the results.
        Currently only Utilities sector data is fetched. Once the data is saved in the local database, it can be viewed in the Chart tab
        and it also is the the source data for the Top 5 Picks and Top 5 Sells calculations.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a> tab lets you select a Company(symbol) and review its history in chart format.
        The history can also be saved in the local database.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Top5Picks">Top 5 Picks</a>  provides recommendations on top 5 stocks to buy
        based on the symbols data loaded in the database. The logic for the top 5 buys utilizes the 52 Week Price Strategy. It is calculated by
        dividing the difference of the current price and the 52 week low of a stock by the difference of the 52 week high and 52 week low. This
        strategy looks into the momentum of the price and how quickly the price is going up. Those that are moving up at a quicker rate are
        more likely to keep moving up. For our top stocks we look at those with a rate greater than .82 as they tend to outperform,
        and we provide the 5 with the highest momentum.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Top5Picks">Top 5 Picks - Sell</a>  provides recommendations on top 5 stocks to sell
        based on the symbols data loaded in the database. The logic for the top 5 sells utilizes the 52 Week Price Strategy. It is calculated by
        dividing the difference of the current price and the 52 week low of a stock by the difference of the 52 week high and 52 week low. This
        strategy looks into the momentum of the price and how quickly the price is going down. Those that are moving down at a quicker rate are
        more likely to keep moving down. For our top stocks we look at those with a rate less than .41 as they tend to underperform,
        and we provide the 5 with the lowest momentum.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh</a> tab lets you refresh the local database, that is, remove all its contents.
    </p>
    <p>
    </p>
</div>